@using Bai_8_View.Models
@{
    Layout = null;
    var gv2 = new Bai_8_View.Models.GiaoVien();
    var gv1 = new GiaoVien();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Dungna</title>

</head>
<body>
    <h1>Block FPOLY C#4</h1>

    @{
        //Khai báo 2 biến
        var name = "Dungna29";
        var dateTime = DateTime.Now;
    }
    @{
        var gv = new Bai_8_View.Models.GiaoVien()
        {
            MaGV = "dungna29",
            Ten = "Nguyễn Anh Dũng",

        };
    }

    <h3>Code Expression</h3>

    <p>@name</p>
    <p>@DateTime.Now</p>
    <p>Hôm nay là : @DateTime.Today </p>

    <p>Tên Giáo Viên : @gv.Ten</p>
    <p>Mã Giáo Viên : @gv.MaGV</p>

    @{
        var school = "FPT POLY";
    }
    <p>School =  @school</p>
    <p>School@school</p> @* Không làm việc *@
    <p>School@(school)</p>

    <h3>Khai báo biến </h3>

    <!-- Chuỗi -->
    @{ var message = "Chào mừng đến với C#4"; }

    <!-- Thời gian -->
    @{ DateTime date = DateTime.Now; }

    <p>@message</p>
    <p> Hôm nay là @date</p>

    @{ var symbol = "Bạn có thể in @ trong html"; }

    <p>The @@symbol is: @symbol</p>

    <a href="mailto:dungna29@fe.edu.vn">dungna29@fe.edu.vn</a>

    @{
        <text>Hello from the multiline text </text>
    }

    @{double diemCsharp4 = 5.6;}

    @if (diemCsharp4 > 5)
    {
        <p>Đã qua môn C#</p>
    }
    else
    {
        <p>Chúc mừng đã tạch C#</p>
    }

    @{
        if (diemCsharp4 > 5)
        {
            <p>Đã qua môn C#</p>
        }
        else
        {
            <p>Chúc mừng đã tạch C#</p>
        }
    }

    @{ var choice = 1;}
    @switch (choice)
    {
        case 0:
            @: value is Zero
            break;
        case 100:
            <p>Value is 100 </p>
            break;
        case 200:
            <p>Value is @choice </p>
            break;
        case 300:
            <text>Value is 300</text>
            break;
        default:
            <p>Invalid Value </p>
            break;


    }

    @for (int i = 0; i < 10; i++)
    {
        <span> @i </span>
    }

    @{
        var lstGiaoViens = new List<GiaoVien>()
{
        new GiaoVien() { Ten = "Dũng", MaGV = "Dungna29" },
        new GiaoVien() { Ten = "Minh", MaGV = "MinhDq8" }
    };
    }

    <table>
        <thead>
            <tr><td>Name</td><td>Address</td></tr>
        </thead>
        @foreach (GiaoVien x in lstGiaoViens)
        {
            <tr>
                <td>@x.Ten</td>
                <td>@x.MaGV</td>
            </tr>
        }
    </table>


    @{
        var b = 0;
        while (b < 5)
        {
            b++;
            <span> @b</span>
        }
    }


    @{ var a = 0; }
    @while (a < 5)
    {
        a++;
        <span> @a</span>
    }

    <br />
    @{
        string encodedMessage = "<script>alert('You are under cross-site script injection attack');</script>";
    }
<span>@encodedMessage </span>

    <span>@Html.Raw(encodedMessage)</span>

</body>
</html>
