@using Bai_8_View.Models

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}
@{
    var giaovien = ViewData["GiaoVien"] as GiaoVien;
}
<h1>Bài ViewBag - ViewData</h1>
<br />

<h1 style="text-align: center">@ViewData["Key Poly"]</h1>

@giaovien.Ten
@giaovien.Email
@giaovien.MaGV


<h1>ViewBag</h1>
<h1>@ViewBag.hello Poly</h1>

@ViewBag.GiaoVien.Ten
@ViewBag.GiaoVien.Email
@ViewBag.GiaoVien.MaGV

@ViewBag.poly

@{
    GiaoVien gv1 = ViewData.Model;
    @gv1.Ten
    @gv1.Email
    @gv1.MaGV
}